*.iml
/.idea/
.gradle/
.kotlin/
/local.properties
/secrets.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
**/build/
**/.cxx/
**/.externalNativeBuild/
captures/
.DS_Store

# Local reference/decompiled materials; not part of the Android project.
/GPS Location/
/STech - GPS Tracker- MasterSheet/
